<!DOCTYPE html>
<html lang="en">
<head>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            // test()
            table()

        });

        async function editBtnClck(id) {
            let url = 'http://localhost:8080/admin2/' + id;
            let response = await fetch(url);
            let user = await response.json();
            let modal = document.getElementById('pseudoModal');
            modal.children.namedItem('mId').setAttribute('value', user.id);
            modal.children.namedItem('mFN').setAttribute('value', user.firstname);
            modal.hidden = false;
            return false;
        }

        async function modalEdit() {
            let modal = document.getElementById('pseudoModal');
            fetch('/admin2/test', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(
                    {
                        id: modal.children.namedItem('mId').getAttribute('value'),
                        firstName: modal.children.namedItem('mFN').getAttribute('value')
                    }
                )}).then(res => res.text())
                .then(json => alert(json));
            // fetch('/admin2/test')
        }

        async function modalClose() {
            let modal = document.getElementById('pseudoModal');
            // document.getElementById()
            modal.hidden = true;
            return false;
        }

        async function table() {
            let url = 'http://localhost:8080/admin2/';
            let response = await fetch(url);
            let users = await response.json(); // читаем ответ в формате JSON

            let table = document.getElementById('usersTable');
            let tbody = document.getElementById('usersTableBody');


            for (let i = 0; i < users.length; i++) {
                // Creating and adding data to second row of the table
                let row = document.createElement('tr');
                let rowId = document.createElement('td');
                rowId.innerHTML = users[i].id;
                let rowFirstName = document.createElement('td');
                rowFirstName.innerHTML = users[i].firstname;
                let rowLastName = document.createElement('td');
                rowLastName.innerHTML = users[i].lastName;
                let rowAge = document.createElement('td');
                rowAge.innerHTML = users[i].age;
                let rowEmail = document.createElement('td');
                rowEmail.innerHTML = users[i].email;
                let rowRoles = document.createElement('td');
                let roles = "";
                for (let j = 0; j < users[i].roles.length; j++) {
                    roles += users[i].roles[j] + " ";
                }
                rowRoles.innerHTML = roles;
                let rowEdit = document.createElement('td');
                let editBtn = document.createElement('button');
                editBtn.innerHTML = "Edit";
                editBtn.setAttribute('onclick', 'editBtnClck(' + users[i].id + ')');


                // editBtnClck(users[i].id)
                rowEdit.appendChild(editBtn);

                row.appendChild(rowId);
                row.appendChild(rowFirstName);
                row.appendChild(rowLastName);
                row.appendChild(rowAge);
                row.appendChild(rowEmail);
                row.appendChild(rowRoles);
                row.appendChild(rowEdit);
                tbody.appendChild(row);
            }

        }

        async function test() {
            // fetch("http://localhost:8080/admin2/")
            let url = 'http://localhost:8080/admin2/';
            let response = await fetch(url);
            let users = await response.json(); // читаем ответ в формате JSON
            document.getElementById('testL').innerHTML = users[0].firstname;
        }
    </script>
    <meta charset="UTF-8">
    <title>Rest</title>
</head>
<body id="body">
<h3>REST</h3>
HELLO!!!
<table id="usersTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="usersTableBody">
    </tbody>
</table>

<div id="pseudoModal" hidden>
    <label id="modalLabel" name="mLName">TEXT</label>

        <label>ID</label>
        <input id="mId2" name="mId">
        <label>First name</label>
        <input id="mFN2" name="mFN">

    <div>
        <button name="mLClose" onclick="modalClose()">Close</button>
        <button name="mLEdit" onclick="modalEdit()">Edit</button>
    </div>
</div>
</body>
</html>