<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User page</title>
    <style>
        .logoutref
        a {
            color: #8d8176;
            text-decoration: none !important;
            border: none !important;
        }

        a:hover {
            color: #fff !important;
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            updateUser();
        });

        function userRowSimple(user) {
            let row = document.createElement('tr');
            let colId = document.createElement('td');
            colId.innerHTML = user.id;
            let colFirstName = document.createElement('td');
            colFirstName.innerHTML = user.firstname;
            let colLastName = document.createElement('td');
            colLastName.innerHTML = user.lastname;
            let colAge = document.createElement('td');
            colAge.innerHTML = user.age;
            let colEmail = document.createElement('td');
            colEmail.innerHTML = user.email;
            let colRoles = document.createElement('td');
            let allUsersTableUserRoles = "";
            for (let j = 0; j < user.roles.length; j++) {
                allUsersTableUserRoles += user.roles[j] + " ";
            }
            colRoles.innerHTML = allUsersTableUserRoles;

            row.appendChild(colId);
            row.appendChild(colFirstName);
            row.appendChild(colLastName);
            row.appendChild(colAge);
            row.appendChild(colEmail);
            row.appendChild(colRoles);

            return row;
        }

        async function updateUser() {
            let updateUserUrl = '/userdata';
            let updateUserResponse = await fetch(updateUserUrl);
            let updateUser = await updateUserResponse.json();
            let headerUsername = document.getElementById('header_username');
            let headerRoles = document.getElementById('header_roles');
            headerUsername.innerHTML = updateUser.username;
            let rolesStr = "";
            for (let i = 0; i < updateUser.roles.length; i++) {
                rolesStr += updateUser.roles[i];
                if (i >= updateUser.roles.length - 1) break;
                rolesStr += ", ";
            }
            headerRoles.innerHTML = rolesStr;

            let userTableBody = document.getElementById('user_table_body');

            userTableBody.appendChild(userRowSimple(updateUser));
        }
    </script>
</head>
<body class="bg-light">
<header class="text-bg-dark p-3 row ">
    <div class="col">
        <strong><label id="header_username">user@email.com</label></strong>
        <label>with roles: </label>
        <label id="header_roles">ROLES</label>
    </div>
    <div class='col d-flex justify-content-end'>
        <div class="logoutref"><a th:href="@{/logout}">Logout</a></div>
    </div>
</header>
<div class="row">
    <div class="d-flex align-items-start">
        <!--sidebar-->
        <div class="nav flex-column col-2 nav-pills me-2 py-3 bg-white " style="height:1000px" id="v-pills-tab"
             role="tablist"
             aria-orientation="vertical">
            <span style="text-align: left" class="nav-link active" id="v-pills-user-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-user"
                    type="text" role="tab" aria-controls="v-pills-user" aria-selected="true">User
            </span>
        </div>
        <!--mainwindow-->
        <div class="tab-content container-fluid" id="v-pills-tabContent">
            <!--user tab-->
            <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab"
                 tabindex="0">
                <!--label-->
                <div class="container-fluid py-3">
                    <h1>User information page</h1>
                </div>
                <!--user content-->
                <div class="container-fluid border">
                    <h5 class="row p-2 m-0 ">About user</h5>
                    <div class="row bg-white p-4 border-top">
                        <table class="table table-striped">
                            <thead class="table border-top">
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="user_table_body" class="table" style="vertical-align: middle;">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"></script>
</div>
</body>
</html>